/.web-server-pid

/build/
/phpunit.xml

!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

.idea/workspace.xml
web/images/group/6_Desert.jpg
web/images/group/7_Chrysanthemum.jpg
web/images/group/5_Desert.jpg
