{% extends "UserBundle::crud.html.twig" %}

{% block Title %}
    Boost Posts
{% endblock %}


{% block actions %}
{% endblock %}


{% block thead %}
    <th>Content</th>
    <th width="10%">actions</th>
{% endblock %}

{% block tbody %}
    {% set posts =  app.session.get('posts') %}
    {% if posts is not null %}
        {% for post in posts %}
            <tr>
                <td>{{ post.post_content }}</td>
                <td>
                    {% if post.post_boost_type == 'Remove Boost' %}
                        <button type="submit" formmethod="post" formaction="{{ path('remove_boost_post',{'post':post.post_id  })}}"  class="btn btn-danger btn-xs removeBoost" title="remove boosting"> remove boosting </button>
                    {% else %}
                        <button type="submit" formmethod="post" formaction="{{ path('boost_post',{'post':post.post_id  })}}"  class="btn btn-default btn-xs boost" title="Boost"> Boost </button>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}