{% extends "::base.html.twig" %}


{% block PublicHead %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block Title %}
    FAQs
{% endblock %}

{% block search %}
{% endblock %}

{% block PublicBody %}
    <div class="container">
        <div class="main_slider">

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Linkpan ?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Web & Mobile Service Platform for Global Trading and Networking. Linkpan Core Value: Mission Value and Process :( M V P) friendliness amongst Businesses across the World By providing Tools and content of High Technological values to all our subscribers and friends at large. We shall always keep our temperament inline no matter the outcome, study and stay ahead of the corporate curve that exist In the E commerce world, we shall do the extra work, which every other person(companies) avoids, we shall get dirty (in positive way). Our promise: To make the process less, by diminishing time and constrains, for all our users and partners all across the world. We would always conduct transactions with this formula: Partners, Content then Success,(PCS) providing something that is unique, ( that makes a leap) ''preserve the core and stimulate progress'' Henry Ford ' you have got to keep doing and going''                     </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What is ACE Membership?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <br> <h4>What are Dockies?</h4> Dockies Is a live responsive system where you can find proposals and negotiation requests ready, 75% of the options to close open deals and start negotiations? The reason we created Dockies Prime was to give importers and exporters a wide range of negotiations to save time and efficiency through their commercial advantage. We understand the essence of product differentiation and the importance of competitive advantage.<br>

                            <h4>Group :</h4>
                            The Linkpan group allows members to join partners with shared goals, giving them a sense of confidentiality, negotiation and promotion of business transactions that may be complicated with members who do not share the same interest. see groups and settings of active groups ... Profile notifications: depending on the information overload on the linkpan platform, partners have the right to choose what and what not to do, notifications allow to keep current members with their partners. For more information about notifications, see details about the user profile settings.


                            <br><h4> Discovery screen :</h4>
                            Discover, from the home page, can cover a wide range of product updates, member interest and member requests. The categories, origins, rankings, members will find that most updated products will appear on the explore page they can either comment, contact or note, we advise members to recommend and share with other platforms. For more information, please click discover at any time.

                            <br><h4> Pans :</h4>
                            Pan is the Linkpans version of the products; we know that every product announcement must and must result in a sale. When there is a sale, there is a negotiation and the negotiations take place only when the members become partners, therefore Pans is established. You can edit a pan, delete, and rate. You can also share a panorama. See the pans for more details.

                            <br><h4>  Research:</h4> We have established research to facilitate access to products and services. there is a search by product name, categories and notes. You can access it easily and comfortably. We recommend that you search when you can not find what you are looking for.

                            <h4>Updates :</h4>
                            For any questions about upgrades to ACE membership, we recommend that you check our enhanced plans, we are happy to have our Ace community on Linkpan. To access "Dockies Prime", you must obtain this membership. and above you, knowing that you are among the few to see the next big thing, Linkpan Ace is for the users of Linkpan. See more about Ace membership with Ace Upgrade. Settings: Settings allows Members to make changes to the company and personal profile, payment information, notifications, privacy, and all other related topics. For more information, access your settings when you are logged in.
                            <p>                            <h6> We continue to add more value to our FAQ, Please send suggestions via Contact for Any missing FAQ, of your choice. Thank you from the team Linkpan.</h6>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block PublicScripts  %}
{% endblock %}